@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/assets/asian-japan-digital-art-4k-sw-1920x1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
body span {
  font-family: "Anton", sans-serif;
  font-size: 150px;
  margin-left: 15vh;
  letter-spacing: 50px;
  mix-blend-mode: overlay;
}
body .pos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 15vh;
  color: white;
  font-size: 80px;
}
body .japan_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-left: 5vh;
  color: white;
  width: 380px;
  margin-top: 40px;
}
body .japan_info__flag {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 380px;
  height: 340px;
}
body .japan_info__flag__image {
  height: 50%;
}
body .japan_info__flag__image img {
  width: 225px;
}
body .japan_info__flag__text {
  width: 350px;
}
body .japan_info__crest {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 380px;
  height: 340px;
}
body .japan_info__crest__image {
  height: 50%;
}
body .japan_info__crest__image img {
  width: 150px;
}
body .japan_info__crest__text {
  width: 350px;
}
body .yen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-left: 90px;
  margin-top: 50px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
body .yen__image img {
  width: 410px;
  height: 190px;
}
body .yen__text {
  color: white;
  margin: 20px 20px 20px 30px;
  font-family: "Manrope", sans-serif;
}
body .yen__text p {
  font-size: 16px;
}

.parent {
  position: absolute;
  left: -20px;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
}

.petal {
  margin: 1px;
  -webkit-animation: fall1 10s linear infinite;
          animation: fall1 10s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  background: #fe85c0;
  width: 10px;
  height: 10px;
  box-shadow: inset 3px 3px 5px -3px #fff;
  border-radius: 15px 5px 15px 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
}

.petal::after {
  content: "";
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #db0637;
  border-radius: 15px 5px 15px 0px;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.petal:nth-child(2) {
  -webkit-animation-name: fall2;
          animation-name: fall2;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  top: 10%;
}

.petal:nth-child(3) {
  -webkit-animation-name: fall3;
          animation-name: fall3;
  -webkit-animation-delay: 3.65s;
          animation-delay: 3.65s;
  top: 25%;
}

.petal:nth-child(4) {
  -webkit-animation-name: fall4;
          animation-name: fall4;
  -webkit-animation-delay: 8.15s;
          animation-delay: 8.15s;
  top: 30%;
}

.petal:nth-child(5) {
  -webkit-animation-name: fall5;
          animation-name: fall5;
  -webkit-animation-delay: 5.35s;
          animation-delay: 5.35s;
  top: 50%;
}

.petal:nth-child(6) {
  -webkit-animation-name: fall6;
          animation-name: fall6;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  top: 75%;
}

.petal:nth-child(7) {
  -webkit-animation-name: fall2;
          animation-name: fall2;
  -webkit-animation-delay: 9.25s;
          animation-delay: 9.25s;
  top: 10%;
}

.petal:nth-child(8) {
  -webkit-animation-name: fall3;
          animation-name: fall3;
  -webkit-animation-delay: 2.65s;
          animation-delay: 2.65s;
  top: 25%;
}

.petal:nth-child(9) {
  -webkit-animation-name: fall4;
          animation-name: fall4;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  top: 30%;
}

.petal:nth-child(10) {
  -webkit-animation-name: fall5;
          animation-name: fall5;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  top: 50%;
}

.petal:nth-child(11) {
  -webkit-animation-name: fall6;
          animation-name: fall6;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  top: 75%;
}

.petal:nth-child(12) {
  -webkit-animation-name: fall6;
          animation-name: fall6;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  top: 85%;
}

@-webkit-keyframes fall1 {
  to {
    transform: translateY(200px) translateX(2560px) translateZ(200px) rotate3d(1, 0.25, 0, 320deg);
  }
}

@keyframes fall1 {
  to {
    transform: translateY(200px) translateX(2560px) translateZ(200px) rotate3d(1, 0.25, 0, 320deg);
  }
}
@-webkit-keyframes fall2 {
  to {
    transform: translateY(150px) translateX(2560px) translateZ(500px) rotate3d(1, 0.25, 0.25, 220deg);
  }
}
@keyframes fall2 {
  to {
    transform: translateY(150px) translateX(2560px) translateZ(500px) rotate3d(1, 0.25, 0.25, 220deg);
  }
}
@-webkit-keyframes fall3 {
  to {
    transform: translateY(150px) translateX(2560px) translateZ(300px) rotate3d(0.25, 1, 1, 420deg);
  }
}
@keyframes fall3 {
  to {
    transform: translateY(150px) translateX(2560px) translateZ(300px) rotate3d(0.25, 1, 1, 420deg);
  }
}
@-webkit-keyframes fall4 {
  to {
    transform: translateY(-160px) translateX(2560px) translateZ(-500px) rotate3d(1, 1, 0.25, 720deg);
  }
}
@keyframes fall4 {
  to {
    transform: translateY(-160px) translateX(2560px) translateZ(-500px) rotate3d(1, 1, 0.25, 720deg);
  }
}
@-webkit-keyframes fall5 {
  to {
    transform: translateY(-200px) translateX(2560px) translateZ(400px) rotate3d(0.25, 1, 0.25, 820deg);
  }
}
@keyframes fall5 {
  to {
    transform: translateY(-200px) translateX(2560px) translateZ(400px) rotate3d(0.25, 1, 0.25, 820deg);
  }
}
@-webkit-keyframes fall6 {
  to {
    transform: translateY(-300px) translateX(2560px) translateZ(-100px) rotate3d(1, 1, 1, 720deg);
  }
}
@keyframes fall6 {
  to {
    transform: translateY(-300px) translateX(2560px) translateZ(-100px) rotate3d(1, 1, 1, 720deg);
  }
}/*# sourceMappingURL=style.css.map */